[core]
    editor = "subl -w"

[user]
    name = Vladimir Galkin
    email = vladgalkin@gmail.com

[push]
    default = simple

[pull]
    rebase = preserve

[diff]
    tool = "kdiff3"

[difftool]
    prompt = false

[mergetool]
    keepBackup = false
    prompt = false