[core]
    editor = "subl -w"

[user]
    name = Volodymyr Halkin
    email = vladgalkin@gmail.com

[includeIf "gitdir:~/issuu/"]
    path = ~/issuu/.gitconfig

[credential]
    helper=osxkeychain

[push]
    default = simple

[pull]
    rebase = preserve

[fetch]    
    prune  = true

[diff]
    tool = "meld"

[merge]
    tool = "meld"

[difftool]
    prompt = false

[mergetool]
    keepBackup = false
    prompt = false

[alias]
    clean-stale-local-branches = !git-clean-stale-local-branches
[init]
	defaultBranch = main
