[core]
 editor = 'c:/program files/sublime text 3/subl.exe' -w
[merge]
 tool = kdiff3
[diff]
 guitool = kdiff3
[mergetool "kdiff3"]
 path = C:/Program Files/KDiff3/kdiff3.exe
[difftool "kdiff3"]
 path = C:/Program Files/KDiff3/kdiff3.exe

[user]
	name = Vladimir Galkin
	email = vladgalkin@gmail.com
[push]
	default = simple
[mergetool]
	keepBackup = false
[pull]
	rebase = preserve